# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
django-env/

# Database
db.sqlite3

# Django Migrations
**/migrations/*
!**/migrations/__init__.py

# Media
media/

# Static files
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Logs
*.log
